@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .block-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;

    h4 {
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
    }

    p {
      font-size: 20px;
    }

    input {
      border: 0;
      border-bottom: 2px solid #000;
      outline: none;
      margin-top: 20px;
      font-size: 20px;
      padding: 10px;
    }

    button {
      margin-top: 20px;
      background-color: inherit;
      outline: none;
      padding: 30px;
      font-size: 20px;
      text-transform: uppercase;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .block-results {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    display: none;

    h4 {
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
    }

    .button-reset {
      border: 0;
      border-bottom: 1px solid #000;
      background-color: inherit;
      font-size: 20px;
      text-transform: uppercase;

      &:hover {
        background-color: black;
        color: white;
      }
    }

    .block-films {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .films-item {
        margin-top: 20px;
        width: 24%;

        .film-poster {
          width: 100%;
          text-align: center;
          padding-left: 10%;
          padding-right: 10%;
        }

        h5 {
          font-size: 20px;
          text-align: center;
        }

        p {
          padding-left: 10%;
          text-transform: uppercase;
        }
      }
    }
  }
}
